# Loops

A **loop** in a computer program is an instruction that repeats until a specified condition is reached.

## `for`

A `for` loop is used for iterating over a sequence, either a list, a tuple, a dictionary, a set, or a string, and execute a set of statements, once for each item in the sequence.

```
for <var> in <iterable>:
    <statement>
```

An **iterable** is any Python object capable of returning its members one at a time, permitting it to be iterated over in a for-loop.

In [1]:
names = ['Alice', 'Bob', 'Charlie']

In [2]:
print(f'Hello, {names[0]}')
print(f'Hello, {names[1]}')
print(f'Hello, {names[2]}')

Hello, Alice
Hello, Bob
Hello, Charlie

In [3]:
for n in names:
    print(f'Hello, {n}')

Hello, Alice
Hello, Bob
Hello, Charlie

In [4]:
for n in names:
    new_name = n.upper()
    print(f'Hello, {new_name}')

Hello, ALICE
Hello, BOB
Hello, CHARLIE

## List Comprehension

**List comprehension** offers a shorter syntax when you want to create a new list based on the values of an existing list.

```
[<statement> for <var> in <iterable>]
```

In [5]:
# List comprehension
upper_names = []

for n in names:
    new_name = n.upper()
    upper_names.append(new_name)

In [6]:
upper_names

['ALICE', 'BOB', 'CHARLIE']

In [7]:
lower_names = [n.lower() for n in names]

In [8]:
lower_names

['alice', 'bob', 'charlie']

## `while`

The `while` loop is used to iterate over a block of code as long as the condition is true.

```
while <expr>:
    <statement>
```

In [9]:
i = 5

while i > 0:
    print(i)
    i -= 1 # i = i - 1

5
4
3
2
1

In [ ]:
i = 5

while i > 0:
    print(i)

## `break`

The `break` statement terminates the current loop and resumes execution at the next statement.

In [11]:
names = ['Alice', 'Bob', 'Charlie']

In [16]:
for n in names:
    if 'e' not in n:
        print(n)

Bob

In [17]:
for n in names:
    if 'e' not in n:
        break
    print(n)

Alice

## `continue`

The `continue` statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop.

In [18]:
for n in names:
    if 'e' not in n:
        continue
    print(n)

Alice
Charlie

## `pass`

The `pass` statement is used when a statement is required syntactically but you do not want any command or code to execute.

In [19]:
for n in names:
    if 'e' not in n:
        pass
    print(n)

Alice
Bob
Charlie

## `else`

The `else` clause executes after the loop completes normally. This means that the loop did not encounter a `break` statement.

In [25]:
for n in names:
    if 'z' in n:
        break
    print(n)
else:
    print('All names printed.')

Alice
Bob
Charlie
All names printed.

# Built-In Functions

**Built-in functions** are pre-defined in the programming languageâ€™s library, for the programming to directly call the functions wherever required in the program for achieving certain functional operations.

## `range(start, stop, step)`

The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [26]:
range(0, 10)

range(0, 10)

In [27]:
type(range(0, 10))

range

In [28]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [30]:
for i in range(0, 10):
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81

## `enumerate(iterable)`

The `enumerate()` function adds a counter to an iterable and returns it.

In [31]:
enumerate(names)

In [32]:
list(enumerate(names))

[(0, 'Alice'), (1, 'Bob'), (2, 'Charlie')]

In [33]:
for n in enumerate(names):
    print(n)

(0, 'Alice')
(1, 'Bob')
(2, 'Charlie')

In [34]:
for i, n in enumerate(names):
    print(f'The element in position {i} is {n}.')

The element in position 0 is Alice.
The element in position 1 is Bob.
The element in position 2 is Charlie.

# Guess the Number!

# Exercise

Write a 'Rock, Paper, Scissors' game in which you play against the computer.  
    *Optional*: make it a best of three! Play for three consecutive times and keep track of the scores.  
    *Hint*: in order to let the computer make its choice, you want to use `random.choice(['rock', 'paper', 'scissors'])`.