In [1]:
# Your first Python program!
print('Hello, world!')

Hello, world!

In [1]:
print('Hello, world!')
print('Hello, world! 2')

Hello, world!
Hello, world! 2

In [2]:
import time

In [27]:
print('Hello, world!')
time.sleep(3) # Stop for 3 seconds
print('Hello, world! 2')

Hello, world!
Hello, world! 2

In [9]:
show('Hello, world!')

NameError: name 'show' is not defined

In [4]:
'Hello, world!'

'Hello, world!'

In [5]:
'Hello, world!'
'Hello, world! 2'

'Hello, world! 2'

In [6]:
print('Hello, world!')
'Hello, world! 2'

Hello, world!

'Hello, world! 2'

# Comments

A comment starts with a hash character (`#`) and ends at the end of the physical line. Comments are ignored by the syntax.

In [10]:
# This is a comment

# Data Types

A **data type** constrains the set of possible values that an expression might take, and defines the set of allowed operations on it. It tells the compiler or interpreter how the programmer intends to use the data. Python supports, among others, basic data types, like *integers* and *strings*, and sequence data types, such as *lists* and *dictionaries*.

### `type(object)`
The `type()` function returns the type of an object.

In [7]:
type('Hello, world!')

str

In [8]:
type(2)

int

## Numeric Types

There are three distinct numeric types: *integers*, *floating point numbers*, and *complex numbers*:

- `int`: integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision
- `float`: floating point numbers are positive and negative real numbers with a fractional part denoted by the decimal symbol `.` or the scientific notation `E` or `e`
- `complex`: a complex number is a number with real and imaginary components; you must use `j` or `J` as imaginary component

In [11]:
# Integers
print(type(251))
print(type(-111131435324542362546254))

<class 'int'>
<class 'int'>

In [12]:
#Â Floating Point Numbers
print(type(2.5))

<class 'float'>

In [13]:
print(type(2.e5))

<class 'float'>

In [14]:
2.e5

200000.0

In [16]:
# Complex Numbers
print(type(2+1j))

<class 'complex'>

### Arithmetic Operators

In Python, **operators** are special symbols that designate that some sort of computation should be performed. The values that an operator acts on are called operands.

**Arithmetic operators** are used to perform mathematical operations like addition, subtraction, multiplication and division.

The *addition operator* is `+` and it is used to add two values.

In [17]:
# Addition
2 + 2

4

In [32]:
2.0 + 2.0

4.0

In [33]:
2 + 2.0

4.0

The *subtraction operator* is `-` and it is used to subtract the second value from the first one.

In [18]:
# Subtraction
20 - 5

15

The *multiplication operator* is `*` and it is used to find the product of two values.

In [19]:
# Multiplication
5 * 4

20

The *division operator* is `/` and it is used to find the quotient when first operand is divided by the second.

In [20]:
# Division (Float)
20 / 7

2.857142857142857

The *floor division operator* is `//` and it is used to find the floor of the quotient when first operand is divided by the second.

In [21]:
# Division (Floor)
20 // 7

2

The *modulo operator* is `%` and it is used to find the remainder when first operand is divided by the second.

In [22]:
# Modulo
20 % 7

6

In [23]:
25 % 7

4

The *exponential operator* is `**` and it is used to raise the first operand to power of second.

In [24]:
# Exponential
2 ** 3

8

In [26]:
import math

In [28]:
math.ceil(2.8)

3

In [29]:
math.e

2.718281828459045

In [30]:
math.pi

3.141592653589793

In [31]:
math.sqrt(4)

2.0

## String Type

Textual data in Python is handled with `str` objects, or *strings*. String literals are written in a variety of ways:

- single quotes (`'...'`): allow to embed double quotes
- double quotes (`"..."`): allow to embed single quotes
- triple quotes (`'''...'''`, `"""..."""`): allow to span over multiple lines

In [34]:
# Single quotes
'Hello, world!'

'Hello, world!'

In [35]:
# Double quotes
"Hello, world!"

'Hello, world!'

In [38]:
# This throws an error
"Hello, world!'

SyntaxError: unterminated string literal (detected at line 2) (611484405.py, line 2)

In [39]:
"Hello, world!'"

"Hello, world!'"

In [36]:
'Hi, I'm Sergio, nice to meet you'

SyntaxError: unterminated string literal (detected at line 1) (2018354142.py, line 1)

In [40]:
"Hi, I'm Sergio, nice to meet you"

"Hi, I'm Sergio, nice to meet you"

In [41]:
'Hi, I"m Sergio, nice to meet you'

'Hi, I"m Sergio, nice to meet you'

In [43]:
'Hi, I\'m Sergio, nice to meet you'

"Hi, I'm Sergio, nice to meet you"

In [44]:
# Triple quotes
"""something in between"""

'something in between'

In [45]:
"this is the first line
and the string goes on the second line"

SyntaxError: unterminated string literal (detected at line 1) (118538224.py, line 1)

In [46]:
"""this is the first line
and the string goes on the second line"""

'this is the first line\nand the string goes on the second line'

In [49]:
'''this is the first line
and the string goes on the second line'''

'this is the first line\nand the string goes on the second line'

In [47]:
"something in between,\nand something on a new line"

'something in between,\nand something on a new line'

In [48]:
print("something in between,\nand something on a new line")

something in between,
and something on a new line

### Concatenation

You can concatenate two different strings together or the same string multiple times using `+` and the `*` operator respectively.

In [50]:
# Concatenation of two strings
'a' + 'b'

'ab'

In [51]:
'a' + 1

TypeError: can only concatenate str (not "int") to str

In [52]:
1 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
# Concatenation of the same string
print('Hi\n' * 5)

Hi
Hi
Hi
Hi
Hi

### Escape Character
In Python strings, the backslash `\` is a special character, also called the **escape character**. It is used in representing certain whitespace characters, such as `\t` and `\n`.

In [59]:
print("This is a new line \nand this is a \t tab character")

This is a new line
and this is a 	 tab character

Prefixing a special character with `\` turns it into an ordinary character. This is called *escaping*.

In [60]:
'Hi, I\'m Sergio, nice to meet you'

"Hi, I'm Sergio, nice to meet you"

In [61]:
'@#$%^&*pol1234'

'@#$%^&*pol1234'

### Slicing

In Python, sequential types are **zero-indexed**: the positions of the *n* elements inside an object, *indices*, go from *0* to *n-1*.

In [62]:
'HELLO'[0]

'H'

In [63]:
'HELLO'[2]

'L'

In [64]:
'HELLO'[-1]

'O'

You can return a range of characters by using the **slice** syntax. Specify the start index and the end index, separated by a colon, to return a part of the string.

In [65]:
'HELLO'[1:]

'ELLO'

In [66]:
'HELLO'[:]

'HELLO'

In [67]:
'HELLO'[:3]

'HEL'

In [70]:
'HELLO'[1:4]

'ELL'

In [71]:
'HELLO'[1:4][0]

'E'

### Methods

Python has a set of *built-in methods* that you can use on strings.

`str.capitalize()` returns a copy of the string with its first character capitalized and the rest lowercased

In [72]:
'hello'.capitalize()

'Hello'

`str.lower()` returns a copy of the string with all the cased characters converted to lowercase

In [73]:
'HELLO'.lower()

'hello'

`str.upper()` returns a copy of the string with all the cased characters converted to uppercase

In [74]:
'hello'.upper()

'HELLO'

`str.strip()` returns a copy of the string with the leading and trailing characters removed

In [75]:
'   hello    '.strip()

'hello'

`str.find(sub)` return the lowest index in the string where substring sub is found

In [76]:
'hello'.find('h')

0

In [77]:
'hello'.find('l')

2

In [78]:
'hello'.find('lo')

3

`str.replace(old, new)` returns a copy of the string with all occurrences of substring *old* replaced by *new*

In [79]:
'helpo'.replace('p', 'l')

'hello'

In [80]:
'hello'.replace('l', 'p')

'heppo'

## Type Conversion

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called **type conversion**. Python has two types of type conversion:
- *implicit type conversion*: Python automatically converts one data type to another data type without any user involvement
- *explicit type conversion*: users convert the data type of an object to required data type using predefined functions, like `int()`, `float()`, `str()`

In [82]:
# Implicit Type Conversion
print(type(2))
print(type(2.0))
print(type(2 + 2.0))

<class 'int'>
<class 'float'>
<class 'float'>

In [84]:
# Explicit Type Conversion
print(type(1))
print(type(str(1)))

<class 'int'>
<class 'str'>

In [85]:
str(1)

'1'

In [86]:
str(print(type(1)))

<class 'int'>

'None'

# Variables

A **variable** is used to store information to be referenced and manipulated in a computer program. It also provide a way of labeling data with a descriptive name, so our programs can be understood more clearly by the reader and ourselves.

In order to create a variable we need to *declare* it; in Python this is done using the name of the variable, followed by the *assignment operator* `=` and the value we want to associate to it.

In [87]:
# Variables Declaration
x = 10

In [88]:
x

10

In [89]:
y

NameError: name 'y' is not defined

In [90]:
y = 15

In [91]:
y

15

In [92]:
x + y

25

In [93]:
z = x * y
z

150

In [94]:
# Update Variables
x = 2
x

2

In [95]:
z

150

In [97]:
z = x * y
z

30

## Object References

A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object.

In [98]:
y = x
print(x)
print(y)

2
2

In [99]:
x = 5
print(x)
print(y)

5
2

Every object that is created is given a number that uniquely identifies it. It is guaranteed that no two objects will have the same identifier during any period in which their lifetimes overlap. The built-in function `id(object)` returns the identity of an object.

In [100]:
id(x)

4353238728

In [102]:
id(5)

4353238728

In [101]:
id(y)

4353238632

In [103]:
id(2)

4353238632

In [104]:
y = x
id(y)

4353238728

## Other Assignment Operators

`+=` (add and assign): add right side operand with left side operand and then assign to left operand.

In [105]:
x = 10

In [106]:
x = x + 1
x

11

In [107]:
x += 1
x

12

`-=` (subtract and assign): subtract right operand from left operand and then assign to left side operand.

In [108]:
x -= 1
x

11

`*=` (multiply and assign): multiply right operand with left operand and then assign to left operand.

In [109]:
x *= 3
x

33

## Naming Conventions

Variable names should be lowercase, with words separated by underscores as necessary to improve readability.

The Python language reserves a small set of keywords that designate special language functionality. No object can have the same name as a reserved word. You can see this list any time by typing `help("keywords")` to the Python interpreter.

In [110]:
microsoft_closing_price = 250

In [ ]:
# Avoid that!
# print = 10

In [111]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [112]:
help('import')

The "import" statement
**********************

   import_stmt     ::= "import" module ["as" identifier] ("," module ["as" identifier])*
                   | "from" relative_module "import" identifier ["as" identifier]
                   ("," identifier ["as" identifier])*
                   | "from" relative_module "import" "(" identifier ["as" identifier]
                   ("," identifier ["as" identifier])* [","] ")"
                   | "from" relative_module "import" "*"
   module          ::= (identifier ".")* identifier
   relative_module ::= "."* module | "."+

The basic import statement (no "from" clause) is executed in two
steps:

1. find a module, loading and initializing it if necessary

2. define a name or names in the local namespace for the scope where
   the "import" statement occurs.

When the statement contains multiple clauses (separated by commas) the
two steps are carried out separately for each clause, just as though
the clauses had been separated out into individual import statements.

The details of the first step, finding and loading modules, are
described in greater detail in the section on the import system, which
also describes the various types of packages and modules that can be
imported, as well as all the hooks that can be used to customize the
import system. Note that failures in this step may indicate either
that the module could not be located, *or* that an error occurred
while initializing the module, which includes execution of the
moduleâs code.

If the requested module is retrieved successfully, it will be made
available in the local namespace in one of three ways:

* If the module name is followed by "as", then the name following "as"
  is bound directly to the imported module.

* If no other name is specified, and the module being imported is a
  top level module, the moduleâs name is bound in the local namespace
  as a reference to the imported module

* If the module being imported is *not* a top level module, then the
  name of the top level package that contains the module is bound in
  the local namespace as a reference to the top level package. The
  imported module must be accessed using its full qualified name
  rather than directly

The "from" form uses a slightly more complex process:

1. find the module specified in the "from" clause, loading and
   initializing it if necessary;

2. for each of the identifiers specified in the "import" clauses:

   1. check if the imported module has an attribute by that name

   2. if not, attempt to import a submodule with that name and then
      check the imported module again for that attribute

   3. if the attribute is not found, "ImportError" is raised.

   4. otherwise, a reference to that value is stored in the local
      namespace, using the name in the "as" clause if it is present,
      otherwise using the attribute name

Examples:

   import foo                 # foo imported and bound locally
   import foo.bar.baz         # foo, foo.bar, and foo.bar.baz imported, foo bound locally
   import foo.bar.baz as fbb  # foo, foo.bar, and foo.bar.baz imported, foo.bar.baz bound as fbb
   from foo.bar import baz    # foo, foo.bar, and foo.bar.baz imported, foo.bar.baz bound as baz
   from foo import attr       # foo imported and foo.attr bound as attr

If the list of identifiers is replaced by a star ("'*'"), all public
names defined in the module are bound in the local namespace for the
scope where the "import" statement occurs.

The *public names* defined by a module are determined by checking the
moduleâs namespace for a variable named "__all__"; if defined, it must
be a sequence of strings which are names defined or imported by that
module.  The names given in "__all__" are all considered public and
are required to exist.  If "__all__" is not defined, the set of public
names includes all names found in the moduleâs namespace which do not
begin with an underscore character ("'_'").  "__all__" should contain
the entire public API. It is intended to avoid accidentally exporting
items that are not part of the API (such as library modules which were
imported and used within the module).

The wild card form of import â "from module import *" â is only
allowed at the module level.  Attempting to use it in class or
function definitions will raise a "SyntaxError".

When specifying what module to import you do not have to specify the
absolute name of the module. When a module or package is contained
within another package it is possible to make a relative import within
the same top package without having to mention the package name. By
using leading dots in the specified module or package after "from" you
can specify how high to traverse up the current package hierarchy
without specifying exact names. One leading dot means the current
package where the module making the import exists. Two dots means up
one package level. Three dots is up two levels, etc. So if you execute
"from . import mod" from a module in the "pkg" package then you will
end up importing "pkg.mod". If you execute "from ..subpkg2 import mod"
from within "pkg.subpkg1" you will import "pkg.subpkg2.mod". The
specification for relative imports is contained in the Package
Relative Imports section.

"importlib.import_module()" is provided to support applications that
determine dynamically the modules to be loaded.

Raises an auditing event "import" with arguments "module", "filename",
"sys.path", "sys.meta_path", "sys.path_hooks".


Future statements
=================

A *future statement* is a directive to the compiler that a particular
module should be compiled using syntax or semantics that will be
available in a specified future release of Python where the feature
becomes standard.

The future statement is intended to ease migration to future versions
of Python that introduce incompatible changes to the language.  It
allows use of the new features on a per-module basis before the
release in which the feature becomes standard.

   future_stmt ::= "from" "__future__" "import" feature ["as" identifier]
                   ("," feature ["as" identifier])*
                   | "from" "__future__" "import" "(" feature ["as" identifier]
                   ("," feature ["as" identifier])* [","] ")"
   feature     ::= identifier

A future statement must appear near the top of the module.  The only
lines that can appear before a future statement are:

* the module docstring (if any),

* comments,

* blank lines, and

* other future statements.

The only feature that requires using the future statement is
"annotations" (see **PEP 563**).

All historical features enabled by the future statement are still
recognized by Python 3.  The list includes "absolute_import",
"division", "generators", "generator_stop", "unicode_literals",
"print_function", "nested_scopes" and "with_statement".  They are all
redundant because they are always enabled, and only kept for backwards
compatibility.

A future statement is recognized and treated specially at compile
time: Changes to the semantics of core constructs are often
implemented by generating different code.  It may even be the case
that a new feature introduces new incompatible syntax (such as a new
reserved word), in which case the compiler may need to parse the
module differently.  Such decisions cannot be pushed off until
runtime.

For any given release, the compiler knows which feature names have
been defined, and raises a compile-time error if a future statement
contains a feature not known to it.

The direct runtime semantics are the same as for any import statement:
there is a standard module "__future__", described later, and it will
be imported in the usual way at the time the future statement is
executed.

The interesting runtime semantics depend on the specific feature
enabled by the future statement.

Note that there is nothing special about the statement:

   import __future__ [as name]

That is not a future statement; itâs an ordinary import statement with
no special semantics or syntax restrictions.

Code compiled by calls to the built-in functions "exec()" and
"compile()" that occur in a module "M" containing a future statement
will, by default, use the new syntax or semantics associated with the
future statement.  This can be controlled by optional arguments to
"compile()" â see the documentation of that function for details.

A future statement typed at an interactive interpreter prompt will
take effect for the rest of the interpreter session.  If an
interpreter is started with the "-i" option, is passed a script name
to execute, and the script includes a future statement, it will be in
effect in the interactive session started after the script is
executed.

See also:

  **PEP 236** - Back to the __future__
     The original proposal for the __future__ mechanism.

Related help topics: MODULES

# Exercises

1. Write a program that replaces all the occurrences of the first character of a given string with '?', except for the first character itself, i.e. from `sunglasses` to `sungla??e?`.

In [119]:
word = 'sunglasses'
first_char = word[0]
new_word = first_char + word[1:].replace(first_char, '?')
new_word

'sungla??e?'

In [120]:
word = 'pineapple'
first_char = word[0]
new_word = first_char + word[1:].replace(first_char, '?')
new_word

'pinea??le'

In [121]:
's' + 'sunglasses'[1:].replace('s', '?')

'sungla??e?'

In [126]:
word = 'sunglasses'
first_char = word[0]
new_word = word.capitalize().replace(first_char, '?')
new_word = new_word.lower()

In [129]:
new_word

'sungla??e?'

In [128]:
new_word.__str__()

'sungla??e?'

2. Write a program which given the radius of a circle computes the area and prints `The area of the circle with radius _ is equal to _.`, substituting underscores with the actual values.